VITE_API_URL=
PORT=5000
SPHEREX_SIA_URL=https://irsa.ipac.caltech.edu/SIA
SPHEREX_RELEASES=spherex_qr3,spherex_qr2
SPHEREX_UPSTREAM_TIMEOUT_MS=60000
SPHEREX_QUERY_CACHE_TTL_MS=600000
SPHEREX_IMAGE_CACHE_TTL_MS=1800000
SPHEREX_IMAGE_CACHE_MAX_BYTES=67108864
SPHEREX_PREVIEW_SIZE_DEGREES=0.5
